@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.testimonials-swiper .swiper-pagination-bullet { background: #d1d5db; opacity: 1; } .testimonials-swiper .swiper-pagination-bullet-active { background: #ED1F24; }

@keyframes marquee-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee-up {
  display: inline-block;
  animation: marquee-up 5s linear infinite;
}
